/* styles.css */


body {
    
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5ffdb;
    margin: 0;
  }

 h1 {
  text-align: center;
  color:#0a6a25;
  padding-bottom: 50px;
 }
  
  .calculator {
    background-color: #92dea8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  #display {
    width: 95%;
    height: 50px;
    text-align: right;
    font-size: 1.5em;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
    background-color: #acf4c7;
    border-radius: 5px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  button {
    width: 100%;
    padding: 20px;
    font-size: 1.2em;
    background-color: #1ea15f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #73b66a;
  }
  
  button:active {
    background-color: #3f744a;
  }
  
  button.zero {
    grid-column: span 2;
  }
  
  button:nth-child(16) {
    background-color: #457b16;
    color: white;
  }
  
  button:nth-child(16):hover {
    background-color: #1e4721;
  }
  
